# Ejecutables
programa
programa_ci
test_unitarios
test_unitarios_ci
test_integracion
test_integracion_ci
test_cobertura
*.exe

# Archivos objeto
*.o

# Cobertura
*.gcda
*.gcno
*.gcov

# macOS
.DS_Store
*.dSYM/
